@media screen and (max-width: 767px) {
    
    body {
        overflow-x: hidden;
    }

    .small-bg {
        display: block;
    }

    .large-bg {
        display: none;
    }

    .carousel-caption {
        padding: 12px;
        text-align: center;
        width: 100vw;
        left: 0;
    }

    .indicators {
        justify-content: center;
    }

    .carousel-caption p {
        margin-bottom: 5px;
        max-width: 100%;
    }

    .carousel-caption>img {
        margin-bottom: 10px;
        width: 60%;
    }

    .button-max {
        margin-bottom: 20px;
    }

    .description {
        padding: 4px 0;
    }

    
    .top10-logo {
        max-width: 80%;
        margin-left: 12px;
        margin-top: 40px;
    }

    footer {
        margin-top: 50px;
    }

    footer .container {
        max-width: 100vw;
        font-size: 12px;
        margin: 0;
        flex-wrap: nowrap;
    }

    .links-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links-footer ul {
        padding: 0;
    }

    .links-footer li {
        text-align: center;
    }

    .links-footer li a {
        text-align: center;
        font-size: 12px;
    }

    #cabecalho {
        position: none;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .navbar {
        max-width: 100vw;
    }

    .navbar .container {
        margin: 0 12px;
    }

    .nav-cel {
        display: flex!important;
        max-width: 50%;
    }

    .icons {
        flex-direction: row;
        justify-content: flex-end;
    }

    .scrolling-wrapper {
        width: 100vw;
        overflow-x: hidden;
        white-space: nowrap;
        padding-left: 5%;
        display: block;
    }

    .lateral {
        padding: 0px;
    }
    
    h2 {
        margin-left: 12px;
        margin-top: 60px;
    }

    .number {
        margin-left: -30px;
        max-width: 80px;
    }

    .series-cards .card,
    .top-10-cards .card{
        width: 150px;
        height: 220px;
    }

    .generos-cards .card {
        height: 150px;
        width: 150px;
    }

    .buttons {
        display: none;
    }
}